body {
  background-color: aqua;
}

.calculator {
  width: 290px;
  background-color: gray;
  margin: auto;
  padding: 2%;
  border-radius: 20px;
}
.header-text {
  text-align: center;
  font-weight: 800;
  font-size: 60pt;
}

.inputValue {
  margin-left: auto;
  margin-right: auto;
}
.inputValue textarea {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  background-color: lightgoldenrodyellow;
  text-align: end;
  color: gray;
  font-weight: 800;
  font-size: 48pt;
}

.button-bar {
  margin: auto;
  width: full;
}

.buttons {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: space-between;
}
.buttons button {
  height: 60px;
  width: 60px;
  margin: auto;
  background-color: hotpink;
  border-radius: 20px;
}

.buttons .operator {
  height: 60px;
  width: 60px;
  background-color: orange;
  border-radius: 20px;
}

.buttons .equal {
  height: 60px;
  width: 60px;
  background-color: lightgreen;
  border-radius: 20px;
}

.clear {
  height: 60px;
  width: 100%;
  background-color: orange;
  border-radius: 20px;
}
